* {
  margin: 0;
}

body {
  height: 100vh;
  background: rgb(243, 243, 239);
  display: grid;
  place-items: center;
}

.liquid {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__box {
    width: 5rem;
    height: 5rem;
    background: rgb(150, 202, 236);
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      left: -50%;
      top: -140%;
      width: 200%;
      height: 200%;
      background: rgb(243, 243, 239);
      border-radius: 61% 39% 57% 43% / 47% 57% 43% 53%;
      animation: rotate 7s linear infinite;
    }
  }

  &__text {
    padding: .5rem;
    letter-spacing: .24em;
    color: rgb(135, 148, 165);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}